ion-list {
  margin: 16px 0;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 56px;
}

ion-icon {
  color: var(--ion-color-primary);
  font-size: 24px;
  margin-right: 16px;
}

ion-label {
  font-size: 16px;
  font-weight: 500;
} 